TTS_ACCESS_PASSWORD=
TTS_SESSION_SECRET=
CJK_FONT_URL=
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
VIVI_LLM_API_KEY=
VIVI_LLM_BASE_URL=
VIVI_LLM_MODEL=
VIVI_LLM_MODELS=
VIVI_LLM_FALLBACK_MODELS=
VIVI_LLM_BATCH_SIZE=20
VIVI_LLM_CONCURRENCY=5
VIVI_LLM_REQUEST_RETRIES=1
VIVI_LLM_REQUEST_MAX_REQUEUES=8
VIVI_LLM_SINGLE_ITEM_RETRIES=2
VIVI_LLM_RATE_LIMIT_MIN_DELAY_MS=10000
VIVI_LLM_RATE_LIMIT_MAX_DELAY_MS=120000
VIVI_LLM_RATE_LIMIT_MAX_REQUEUES=8
GEN_QUEUE_PROGRESS_WRITE_INTERVAL_MS=700
GEN_QUEUE_PROGRESS_WRITE_WORD_DELTA=5
GEN_QUEUE_CANCELLATION_POLL_INTERVAL_MS=300
GEN_QUEUE_LLM_ENTRIES_PER_STEP=100
GEN_QUEUE_LLM_BATCH_ROUNDS_PER_STEP=8
GEN_QUEUE_MAX_INTERNAL_WAIT_MS=45000
GEN_QUEUE_STALE_PROCESSING_MS=360000
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
SHARE_SIGNING_SECRET=
TTS_SHARE_TTL_DAYS=3650
